:root {
  --inline-size: 90svi;
  --block-size: 70svb;
  --column-gap: 24px;
}
.link {
  --space-min: 36px;
  --space-max: 48px;
  --space: clamp(
    var(--space-min),
    var(--space-min) + progress(100svi, 375px, 1280px) * (var(--space-max) - var(--space-min)),
    var(--space-max)
  );
  inline-size: fit-content;
  position: fixed;
  inset-inline-end: calc(var(--space) + env(safe-area-inset-left));
  inset-block-start: var(--space);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.25ch;
  font-size: 14px;
  color: white;
  mix-blend-mode: difference;
  z-index: 1;
  &::after {
    display: inline-grid;
    content: '';
    justify-self: end;
    mask-image: var(--icon-arrow);
    block-size: 0.8lh;
    aspect-ratio: 1;
    background-color: currentColor;
    rotate: -45deg
  }
}
@keyframes scroll-column {
  from {
    transform: translateY(calc(-100% + var(--block-size)));
  }
  to {
    transform: translateY(calc(100% - var(--block-size)));
  }
}

.container {
  --text-lg-min: 24px;
  --text-lg-max: 36px;
  --text-sm-min: 8px;
  --text-sm-max: 12px;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-family: sans-serif;
    font-size: clamp(
      var(--text-lg-min),
      var(--text-lg-min) + progress(100svi, 375px, 1280px) * (var(--text-lg-max) - var(--text-lg-min)),
      var(--text-lg-max)
    );
  }
  .hero, .footer {
    block-size: 100svb;
    display: grid;
    place-content: center;
    background: blue;
    color: whitesmoke;
    text-align: center;
  }
  .footer {
    font-size: clamp(
      var(--text-sm-min),
      var(--text-sm-min) + progress(100svi, 375px, 1280px) * (var(--text-sm-max) - var(--text-sm-min)),
      var(--text-sm-max)
    );
  }

  .grid {
    contain: strict;
    container-type: inline-size scroll-state;
    overflow: auto;
    /*overscroll-behavior: contain;*/
    scrollbar-width: none;
    /*-webkit-overflow-scrolling: auto;*/

    inline-size: var(--inline-size);
    block-size: var(--block-size);
    margin-inline: auto;
    margin-block: calc((100svb - var(--block-size)) / 2);

    .columns {
      contain: content;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--column-gap);
      overflow-y: clip;


      > .column {
        display: flex;
        gap: var(--column-gap);
        &:nth-child(odd) {
          flex-direction: column;
        }
        &:nth-child(even) {
          flex-direction: column-reverse;
          transform: translateY(calc(-100% + var(--block-size)));
          animation: scroll-column linear forwards;
          /*animation-timeline: scroll(root block);*/
          animation-timeline: scroll(block);
        }
        > .item {
          aspect-ratio: 2/3;
          object-fit: cover;
          clip-path: inset(0 round 6px);
        }
      }
    }
  }
}
