.main {
  display: grid;
  min-block-size: 100svb;
}
.link {
  inline-size: fit-content;
  position: fixed;
  inset-inline-start: 24px;
  inset-block-end: 24px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.25ch;
  color: white;
  mix-blend-mode: difference;
  z-index: 1;
  &::before {
    display: inline-grid;
    content: '';
    justify-self: end;
    mask-image: var(--icon-arrow);
    block-size: 0.8lh;
    aspect-ratio: 1;
    background-color: currentColor;
    rotate: 0.5turn;
  }
}
